

:root {
  --primary-color: #010712;
  --secondary-color: #818386;
  --bg-color: #FCFDFD;
  
  --button-color: #3B3636;
  --h1-color: #3F444C;
}

[data-theme="dark"] {
  --primary-color: #FCFDFD;
  --secondary-color: #818386;
  --bg-color: #010712;
  --button-color: #818386;
  --h1-color: #FCFDFD;
}

* {
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.contact-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
}

.left-col {
  width: 45vw;
  margin: 4em;
  
  height: 80%;
  background-image: url("https://cdn.discordapp.com/attachments/751847981484867684/1017151942373425212/Post_para_instagram_atencao_simples_amarelo.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius:10px 60px 30px 20px;
  
}

.right-col {
  background: var(--bg-color);
  width: 50vw;
  height: 100vh;
  padding: 5rem 3.5rem;
}

h1, label, button, .description {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

h1 {
  color:var(--h1-color);
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  font-weight: 300;
}

p {
  color: var(--secondary-color);
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  width: 40vw;
  margin: 0.25rem 0;
}

label, .description {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 0.625rem;
}

form {
  width: 31.25rem;
  position: relative;
  margin-top: 2rem;
  padding: 1rem 0;
}

input, textarea, label {
  width: 40vw;
  display: block;
}

p, placeholder, input, textarea {
  font-family: 'Helvetica Neue', sans-serif;
}

input::placeholder, textarea::placeholder {
  color: var(--primary-color);
}

input, textarea {
  color: var(--primary-color);
  font-weight: 500;
  background: var(--bg-color);
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  outline: none;
}

textarea {
  resize: none;
}


button {
  text-transform: uppercase;
  font-weight: 300;
  background: var(--button-color);
  color: var(--bg-color);
  width: 8rem;
  height: 2rem;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

input:hover, textarea:hover, button:hover {
  opacity: 0.5;
}

button:active {
  opacity: 0.8;
}

/* Toggle Switch */

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  width: 160px;
  position: absolute;
  top: 0.5rem;
  right: 0;
}

.description {
    margin-left: 1.25rem;
  }

.theme-switch {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 0.25rem;
  content: "";
  width: 26px;
  height: 26px;
  left: 0.25rem;
  position: absolute;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--button-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#error, #success-msg {
  width: 40vw;
  margin: 0.125rem 0;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: 'Jost';
  color: var(--secondary-color);
  }


  #success-msg {
  transition-delay: 3s;
  }

@media only screen and (max-width: 950px) {
  .logo {
    width: 8rem;
  }
  h1 {
    font-size: 1.75rem;
  }
  p {
    font-size: 0.7rem;
  }
  input, textarea, button {
    font-size: 0.65rem;
  }
  .description {
    font-size: 0.3rem;
    margin-left: 0.4rem;
  }
  button {
    width: 6rem;
  }
  .theme-switch-wrapper {
    width: 120px;
  }
  .theme-switch {
  height: 28px;
  width: 50px;
}

.theme-switch input {
  display:none;
}

.slider:before {
  background-color: #fff;
  bottom: 0.25rem;
  content: "";
  width: 20px;
  height: 20px;
  left: 0.25rem;
  position: absolute;
  transition: .4s;
}
  input:checked + .slider:before {
  transform: translateX(16px);
}

.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}

}







#menu__toggle {
  opacity: 0;
  color: #fff;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #084594;
  transition-duration: .25s;
  border: 0.5px solid #f4ec0a;
	box-shadow:  15px #f4ec0a;
  
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color:  #7b7bd4;
   background-color: #2C2E43;
    
   background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png");
  
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition: all ease-out;
	transition-duration: .75s  ;
}
.menu__item {
  display: block;
  margin: 10px;
  padding: 10px 30px;
  color: #e7e853;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
  border-radius: 2em;
  padding-top: 25px;
}
.menu__item:hover {
  background-color: #084594;
}







.wrapper {
  position: absolute;
  top: 90%;
  left: 74%;
  transform: translate(-50%, -50%);
  width: 500px;
 
}


.wrapper ul {
  list-style: none;
}
.wrapper i{
    margin-left: 2px;
    
}

.wrapper ul li {
  width: 50px;
  height: 50px;
  line-height: 10px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
}


.wrapper ul li .fa {
  color: #D8E2DC;
  margin-top: 3px;
  transition: all 0.5s ease;
}


/*facebook*/
.wrapper ul li:hover.facebook {
  border: 2px solid #f4ec0a;
  box-shadow: 0 0 15px #f4ec0a;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #f4ec0a;
  text-shadow: 0 0 15px #f4ec0a;
  transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
  border: 2px solid #f4ec0a;
  box-shadow: 0 0 15px #f4ec0a;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #f4ec0a;
  text-shadow: 0 0 15px #f4ec0a;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 2px solid #f4ec0a;
  box-shadow: 0 0 15px #f4ec0a;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #f4ec0a;
  text-shadow: 0 0 15px #f4ec0a;
  transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover.google {
  border: 2px solid #f4ec0a;
  box-shadow: 0 0 15px #f4ec0a;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google {
  color: #f4ec0a;
  text-shadow: 0 0 15px #f4ec0a;
  transition: all 0.5s ease;
}

/* whatsapp */
.wrapper ul li:hover.whatsapp {
  border: 2px solid #f4ec0a;
  box-shadow: 0 0 15px #f4ec0a;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
  color: #f4ec0a;
  text-shadow: 0 0 15px #f4ec0a;
  transition: all 0.5s ease;
}


/* media queries */

@media screen and (max-width: 640px){
  .wrapper {
      width: 350px;
  }
  .wrapper ul li{
      margin-top: 10px;
  }
  .wrapper ul li.google{
      margin-left: 60px;
  }
}


@media screen and (max-width: 340px){
  .wrapper {
      width: 150px;
  }
  .wrapper ul li{
      margin:15px;
  }
  .wrapper ul li.google{
      margin-left: 15px;
  }
}





/*backgrond*/

