@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
*{
    margin: 0;
    padding: 0;
}



img{
    max-width: 100%;
}
body{
    
    font-family: Secular One;
    background-color: #7b7bd4;
    background-color: #2C2E43;
    background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png");

}

header a{
    
     font-family: 'Alfa Slab One', cursive;
     
     margin: 1em;   
     transition: 1s;
     font-size: 1em;
    
}
header img{
  padding-left: 20%;
}

header a:hover{
    text-decoration: none;
    color:  aqua;
    
}

header {
background: url('imagens/stock-photo-top-view-bakery-ingredients-cooking\ \(1\).jfif');


width: 100%;
height: auto;
background-size: cover;
background-attachment: fixed;
position: relative;
overflow: hidden;
border-radius: 0 0 85% 85% / 30%;
}




/*///////////////////////////////////////////////////////////////////////////////////////*/




#slider {
    
    
      
     width: 100%;
    max-width: 700px;
    height: 25vw;
    max-height: 250px;
    
    position: relative;
   
    text-align: center;
    
    
    
}

#slider img{
    opacity: 0;

    position: absolute;
    
    width: 100%;
    height: 100%;
    border-radius: 3em;;
    object-fit: cover;
    margin-left: 11em;
    transition: opacity 800ms;
    
}

#slider img.selected { 
    opacity: 1;
}



#banner{
    max-width: 80%;
    margin: 1.5em auto;
    background: url(imagens/banner.png) ;
    background-repeat:  no-repeat;
    
    border-radius: 1em;
    padding-left: 7em;
    padding-bottom: 6em;
    display:flex ;
    flex-direction: column;
    
}


h2{

  font-size: 2.5em;
  color: #e7e853;
  text-align: start;
  padding-top: 70px;
  position: absolute; 
  width: 500px ;
  
  
  

  
  
  
  
}


#banner2 img{
  width: 100%;
  height: 70em;
  background-image: url("imagens/Nosos_visaomissao_e_valores.png");
  background-repeat: no-repeat;
  
  
}
#banner2 {
  padding-bottom: 5em;
  align-items: center;
  width: 100%;
  position: relative;
  
  
}



/*produtos /////////////////////////////////////////////////////////////////////////////*/



.container {
  position: relative;
  width: 1160px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
  padding-bottom: 10em;
  
}
.container .box {
  position: relative;
  width: 275px;
  height: 275px;
  background: #000;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 50px;
  margin-top: 45px;
  border-radius: 3em;
  

  
}
.container:hover .box {
  transform: rotateY(25deg);
}
.container .box:hover ~ .box {
  transform: rotateY(-25deg);
}
.container .box:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}
.container .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .box .imgBx:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,rgba(158, 151, 58, 0.493),rgb(104, 99, 99));
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
  
}
.container .box:hover .imgBx:before {
  opacity: 1;
}
.container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
  
}
.container .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
  transition-delay: 0.3s;
  text-align: justify;
  
}
.container .box:hover .content h2 {
  transform: translateY(-100px);
}
.container .box .content p {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;

}
.container .box:hover .content p {
  transform: translateY(0px);
}

h1{
  padding-top: -2em;
  padding-left: 2em;
  font-size: 3em;
  color: #e7e853;
  font-family: 'Shrikhand', cursive;
  
  align-items: center;
}



/*Botão///////////////////////////////////////////////////////////////////////////*/


button {
	width: 150px;
	height: 50px;
	cursor: pointer;
	border: 0px solid #152a85;
	background: transparent;
	transition: 200ms;
  border-radius: 10em;
 
}

button a {
	position: relative;
	transform: translateX(-20%) translateY(-40%);
	font-family: 'Berkshire Swash', cursive;
	font-size: 30px;
  padding-left: -10em;
	color: #f0ecfc;
	transition: 500ms;
  text-align: justify;
  text-decoration: none;
}





button:hover {
	border: 5px solid #00aced;
  background: #084594;
}

button:hover a {
	letter-spacing: 4px;
	font-size: 20px;
}

button:hover::before {
	width: 150px;
	height: 50px;
	margin-left: -40px;
	margin-top: -30px;
}

button:hover::after {
	width: 160px;
	height: 60px;
	margin-left: -85px;
	margin-top: -35px;
}

button:focus {
	outline: none;
}




/*Barra de Menu//////////////////////////////////////////////////////////////////////////////////////////*/



#menu__toggle {
  opacity: 0;
  color: #fff;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
  
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #084594;
  transition-duration: .25s;
  border: 0.5px solid #f4ec0a;
	box-shadow:  15px #f4ec0a;
  
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #7b7bd4;
  background-color: #2C2E43;
  overflow: visible;
  background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png");
  z-index: 1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition: all ease;
	transition-duration: .60s  ;
}


.menu__item {
  display: block;
  
  padding: 10px 20px;
  color: #e7e853;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
  border-radius: 2em;
}
.menu__item:hover {
  background-color: #084594;
}






.wrapper {
  position: absolute;
  top: 77%;
  left: 83%;
  transform: translate(-50%, -50%);
  width: 500px;
 
}


.wrapper ul {
  list-style: none;
}
.wrapper i{
    margin-left: -7px;
    
}

.wrapper ul li {
  width: 45px;
  height: 45px;
  line-height: 10px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
}


.wrapper ul li .fa {
  color: #D8E2DC;
  margin-top: 5px;
  transition: all 0.5s ease;
}


/*facebook*/
.wrapper ul li:hover.facebook {
  border: 2px solid #f4ec0a;
  box-shadow: 0 0 15px #f4ec0a;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #f4ec0a;
  text-shadow: 0 0 15px #f4ec0a;
  transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
  border: 2px solid #f4ec0a;
  box-shadow: 0 0 15px #f4ec0a;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #f4ec0a;
  text-shadow: 0 0 15px #f4ec0a;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 2px solid #f4ec0a;
  box-shadow: 0 0 15px #f4ec0a;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #f4ec0a;
  text-shadow: 0 0 15px #f4ec0a;
  transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover.google {
  border: 2px solid #f4ec0a;
  box-shadow: 0 0 15px #f4ec0a;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google {
  color: #f4ec0a;
  text-shadow: 0 0 15px #f4ec0a;
  transition: all 0.5s ease;
}

/* whatsapp */
.wrapper ul li:hover.whatsapp {
  border: 2px solid #f4ec0a;
  box-shadow: 0 0 15px #f4ec0a;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
  color: #f4ec0a;
  text-shadow: 0 0 15px #f4ec0a;
  transition: all 0.5s ease;
}


/* media queries */

@media screen and (max-width: 640px){
  .wrapper {
      width: 350px;
  }
  .wrapper ul li{
      margin-top: 10px;
  }
  .wrapper ul li.google{
      margin-left: 60px;
  }
}


@media screen and (max-width: 340px){
  .wrapper {
      width: 150px;
  }
  .wrapper ul li{
      margin:15px;
  }
  .wrapper ul li.google{
      margin-left: 15px;
  }
}







/*Rodapé/////////////////////////////////////////////////////////////////////////////////////////*/


.footer-basic {
  padding:15px 0;
  background: url('imagens/stock-photo-top-view-bakery-ingredients-cooking\ \(1\).jfif');


width: 100%;
height: auto;
background-size: cover;
background-attachment: fixed;
position: relative;
overflow: hidden;
color:#4b4c4d;
  
}

.footer-basic ul {
  padding-left: 25em;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
  display: flex;
  flex-direction: row ;
  text-align: center;
}

.footer-basic li {
  padding:0 50px;
  text-align: center;
  justify-content: center;
  
}
.list-inline{
  text-align: center;

}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
  
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid rgb(60, 58, 58);
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}



@media (max-width:500px){
  header{
      
      width: 100%;
      height: auto;

  }

  header img{
    padding-left: 10%;
  }

  #slider {
        
    width: 100%;
   max-width: 700px;
   height: 25vw;
   max-height: 250px;
   
   position: relative;
  
   padding-top: 70px;
   display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
   
   
   
}

#slider img{
   opacity: 0;

   position: absolute;
   
   width: 100%;
   height: 100%;
   border-radius: 3em;;
   object-fit: cover;
   margin-left: 2em;
   transition: opacity 800ms;
   
}

#slider img.selected { 
   opacity: 1;
}



#banner{
   max-width: 60%;
   background: url(imagens/banner.png) ;
   background-repeat:  no-repeat;

   padding-bottom: 6em;
   display:flex ;
   flex-direction: row;
   
   
}


#banner h2{

 font-size: 0.7em;
 color: #e7e853;
 text-align: justify;
 padding-top: 50px;
 
 text-decoration: underline overline;

 
 
}


#banner2 img{
  width: 100%;
  height: 25em;
  background-image: url("imagens/Nosos_visaomissao_e_valores.png");
  background-repeat: no-repeat;
  
  
}








.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
  padding-bottom: 10em;
  
}







}






